<p id="error"><%= flash[:error] %></p>
<p>You have recieved <%= pluralize @items_received, 'item' %></p>
<p>You have recieved <%= @experience_recieved %> experience</p>
<p>You have recieved <%= pluralize @potions_received, 'potion' %></p>
